; Project specific NPM configuration
;

; Automatically add any module installed with 'npm install <module>' to package.json
save=true
; Set the exact vesion of the node module when package.json is updated
save-exact=true

; Use the Travelclick npm registry
registry=http://repo-res.travelclick.net/artifactory/api/npm/npm