*.log
.DS_Store
.sonarlint
dist
node_modules
docs

# using yarn (at least for now) so ignoring other package managers
package-lock.json
shrinkwrap.yaml
coverage
node_modules
cypress/videos
cypress/screenshots


*.tgz